
body.dark{
background:#141414;
color:white;
font-family:Arial;
margin:0;
}

header{
background:black;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
}

button{
background:#e50914;
color:white;
border:none;
padding:12px 20px;
border-radius:5px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.school-card{
background:#1f1f1f;
border-radius:8px;
overflow:hidden;
transition:0.3s;
}

.school-card:hover{
transform:scale(1.05);
}

.school-card img{
width:100%;
height:150px;
object-fit:cover;
}

.card-content{
padding:10px;
}

.details{
display:none;
font-size:14px;
}

.details.show{
display:block;
}

.controls{
padding:20px;
display:flex;
gap:10px;
flex-wrap:wrap;
}
